In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\KRISHNA NAYAK\\Downloads\\LabTAT (1).csv")
df.shape
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [3]:
df["Laboratory 1"]
df["Laboratory 2"]
df["Laboratory 3"]
df["Laboratory 4"]

0      166.13
1      160.79
2      185.18
3      176.42
4      152.60
        ...
115    172.68
116    177.64
117    170.27
118    150.87
119    162.21
Name: Laboratory 4, Length: 120, dtype: float64

In [4]:
import scipy.stats as stats

In [5]:
f_statistic, p_value = stats.f_oneway(df['Laboratory 1'], df['Laboratory 2'], df['Laboratory 3'], df['Laboratory 4'])
p_value

2.1156708949992414e-57

In [6]:
p_value = 2.1156708949992414e-57
alpha=0.05

if p_value<alpha:
    print('H0 is rejected and H1 is accepted')
else:
    print('H1 is rejected and H0 is accepted')

H0 is rejected and H1 is accepted